<main>
  <h1>Welcome to CSE Motors!</h1>
  <section class="dmc">
    <div class="feature">
      <img src="/public/images/vehicles/delorean.jpg" alt="DMC Dolorean">
      <h2>DMC Dolorean</h2>
      <ul>
        <li><a href="">3 Cup holders</a></li>
        <li><a href="">Superman Doors</a></li>
        <li><a href="">Fuzzy Dice!</a></li>
      </ul>
      <button type="button">Own Today</button>
    </div>

    <div class="Upgrades">
      <h2>Dolorean Upgrades</h2>
      <div>
        <img src="/public/images/upgrades/flux-cap.png" alt="Dolorean Upgrades">
        <h6><a href="">flux Capacitor</a></h6>
      </div>
      <div>
        <img src="/public/images/upgrades/flame.jpg" alt="Dolorean Upgrades">
        <h6><a href="">Flame Decals</a></h6>
      </div>
      <div>
        <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Dolorean Upgrades">
        <h6><a href="">bumper stickers</a></h6>
      </div>
      <div>
        <img src="/public/images/upgrades/hub-cap.jpg" alt="Dolorean Upgrades">
        <h6><a href="">hub caps</a></h6>
      </div>
    </div>

    <div class="Reviews">
      <h2>DMC Dolorean Reviews</h2>
      <u>
        <li>"So fast it's almost like travelling in time."(4/5)</li>
        <li>"Coolest ride on the road."(4/5)</li>
        <li>"The most futuristic ride of our day."(4.5/5)</li>
        <li>"80's livin and i love it."(5/5)</li>
      </u>
    </div>
  </section>
</main>

